<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="naver-site-verification" content="9e63f663c051471fc6b4c970bee94cae8f9bfe87" />
    <link rel="stylesheet" type="text/css" href="/css/home/main.css">
    <link rel="shortcut icon" href="https://beraming.com/wp-content/uploads/2020/04/BI_02-1.png" type="image/x-icon" />
    <STYLE>
    </STYLE>
    <title>홈 | 비허밍스터디카페 세종새롬점</title>
    <script src="/lib/home/fontawesome-free-6.4.0-web/js/all.min.js"></script>
    <script src="/lib/home/jquery-3.6.4.min.js"></script>
    <script src="/lib/home/fontawesome-free-6.4.0-web/js/all.min.js"></script>
    <SCRIPT>
        $(document).ready(()=>{
            const toggleBtn = document.querySelector('.navToggleBtn');
            const menu = document.querySelector('.navMenu');

            toggleBtn.addEventListener('click',()=>{
                menu.classList.toggle('active')
            })


            //화면 크기 조정
            // $(window).resize(()=>{
            //     const windowWidth = 1800;
            //     const windowHeight = 937;
            //     windowInnerWidth = window.innerWidth;
            //     windowInnerHeight = window.innerHeight;

            //     rateX = windowInnerWidth / windowWidth;
            //     rateY = windowInnerWidth / windowHeight;


            //     $('.picture').children('img').css('width',353 * rateX)
            //     $('.picture').children('img').css('height',353 * rateX)
            //     $(".mainFooter").css('height' , rateY * 150)
            //     $(".FooterWrap").css('width',rateX * 1100)
            //     $(".FooterTitle").children('strong').css('font-size', ( rateX * 20 ) + 'px' )
            //     $(".FooterConn").children('ul').children('li').css('font-size',( rateX * 45 ) + 'px' )
            // })
        })
    </SCRIPT>
</head>
<body>
    
    <nav class="navBar">
        <div class="navLogo"><a href="/"><img src="/lib/home/assets/beramingNav.png"></a></div>
        <ul class="navMenu">
            <li class="active"><a href = "/" class="home active">홈</a></li>
            <li><a href = "/room" class="room">공간소개</a></li>
            <li><a href = "/map" class="map">오시는길</a></li>
            <li><a href = "/price" class="price">이용요금</a></li>
            <li><a href = "/bbs/board" class="board">공지사항</a></li>
        </ul>

        <a class="navToggleBtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>

    <div class="mainContainer">
        
        
        <div class="mainLogo">
            <img src="/lib/home/assets/beramingTitle.jpeg">
            <div class="mainLogoLan">
                
                <img src="/lib/home/assets/beramingLogo.jpeg">
                
                <div>
                    <strong>비허밍스터디카페 세종새롬점 </strong>
                    <p>THE FIRST STEP TOWARD A DREAM</p>
                </div>
            </div>
        </div>


        <div class="mainWrap">
            <div class="mainTitle">
                <strong>꿈을 향한 우리의 첫 걸음</strong>
                <p>안녕하세요. 비허밍 스터디카페 세종새롬점입니다. 비허밍 스터디카페는 "꿈을 향해 건너가다"를 뜻을 품은 브랜드로, 24시간, 365일 24시간 무인 시스템으로 운영되는 프리미엄 스터디카페입니다. 비허밍 스터디카페만의 브릿지를 연상케하는 웅장하고 품격있는 감성 인테리어로 여러분에게 집중도를 높일 수 있는 최고의 공부환경을 제공합니다. ※내부 시설※ 1.리버티존/브릿지존/티피컬존/메트로존/포커스온존/미팅룸 취향에 따른 맞춤형 공간 2. 각각의 공간 공기청정기 배치 3. 친환경 자재, 페인트 사용 4. 무료 GIGA형 WIFI(2G, 5G) 5. 최고급 로스팅 원두 / 티 / 음료/ 과자 무료 제공 6. 두뇌회전을 위한 청정산소 공급 (옥서스 산소발생기) 7. 24시간 운영(보안-캡스, 긴급출동) 8. 비밀번호가 장착된 사물함 9. 복사/프린트 완비(50원부터 저렴한 요금) 10.시스템 냉난방 환기시스템으로 쾌적한 학습 환경</p>
            </div>
            <div class="mainRoomContainer">
                <div class="roomTitle">
                    <strong>공간소개</strong>
                    <a class="more" href="/room">더보기 <i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="roomData">
                    <div class="picture">
                        <img src="/lib/home/assets/beramingMainroom.jpeg">
                        <img src="/lib/home/assets/beramingStudyZone1.jpeg">
                        <img src="/lib/home/assets/beramingMetro.jpeg">
                        <img src="/lib/home/assets/beramingmeeting.jpeg">
                        <img src="/lib/home/assets/beramingrobi.jpeg">
                        <img src="/lib/home/assets/beramingPersonalroom1.jpeg">
                    </div>
                    <div class="describle">
                        <strong>비허밍 스터디카페 출입 및 카페존</strong>
                        <p>비허밍 스터디카페 출입 시스템인 무인 키오스크를 통해 결제 후 출입이 가능합니다. 또한 좌석선정, 결제, 좌석이동, 연장까지 키오스크를 통해서 가능합니다. 대형 CCTV가 비치되어 있어 고객 안전과 보안에 신경 쓰고 있습니다. 실내로 들어오면 제일 먼저 "카페테리아" 공간이 펼쳐집니다. 
                            장시간 학습에 지친 고객분들을 위한 휴식 공간입니다. 정수기, 커피머신, 다양한 다과를 무료로 이용가능합니다. 또한 비허밍 스터디카페에서는 제빙기를 비치하여 시원한 아이스 커피도 마실 수 있습니다. 또한 복합기가 비치되어 있어 저렴한 가격에 프린트, 복사 등이 가능합니다.</p>
                        <strong>메트로 존 & 티피컬 존 <br/> (METRO & TYPICAL ZONE)</strong>
                        <p>적당한 긴장감 속 개방감을 준 공간
                            넓은 개인 테이블 좌석, 개별 독립된 배치와 사용자의 눈높이에 맞추어 설계된 파티션은 집중에 도움을 줍니다. 티피컬 존은 전면이 개방되어 있어 창가에 앉아 집중하길 원하는 학습자를 위해 구성된 공간으로 비허밍의 가장 베이직한 좌석이지만, 기본의 중요성을 놓치지 않은 넓은 테이블과 편안한 좌석으로 장시간 학습에 느낄 수 있는 불편함을 덜었습니다.</p>        
                    </div>
                </div>
            </div>
            <div class="mainMapContainer">
                <div class="mapTitle">
                    <strong>오시는길</strong>
                    <a class="more" href="/map">더보기 <i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="mapContent">
                    <div id="map"></div>
                    <div id="info">
                        <p>비허밍스터디카페 세종새롬점</p>
                        <strong>세종특별자치시 새롬중앙로 33 3층</strong>
                        <a href = "	https://map.kakao.com/link/search/비허밍스터디카페 새롬점"><i class="fa-solid fa-location-dot"></i>  지도에서 보기</a>
                        <a href = "	https://map.kakao.com/link/to/비허밍스터디카페 새롬점,36.48409523006782,127.25166694076425"><i class="fa-solid fa-arrow-up"></i>  길찾기</a>
                    </div>
                    <div id="intro">
                        <div class="list-intro">
                            <dl class="list">
                                <dt>
                                    <a><i class="fa-solid fa-clock"></i></a>이용시간</dt>
                                <dd>매일 00:00~24:00</dd>
                            </dl>
                        </div>
                        <div class="list-intro">
                            <dl class="list">
                                <dt><a><i class="fa-solid fa-phone"></i></a>전화번호</dt>
                                <dd>010-5835-8293</dd>
                            </dl>
                        </div>
                        <div class="list-intro">
                            <dl class="list">
                                <dt><a><i class="fa-solid fa-info"></i></a>이용안내</dt>
                                <dd>무선 인터넷 남/녀  화장실 구분</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainPriceContainer">
                <div class="priceTitle">
                    <strong>이용요금</strong>
                    <a class="more" href="/price">더보기 <i class="fa-solid fa-arrow-right"></i></a>
                </div>
                <div class="priceWrap">
                    <img src="/lib/home/assets/beramingPrice.jpeg">
                </div>
            </div>
        </div>
    </div>


    <div class="subMenu">
        <ul>
            <li><a class="phone" href="/map"><i class="fa-solid fa-phone"></i></a></li>
            <li><a class="map" href="/map"><i class="fa-solid fa-location-dot"></i></a></li>
        </ul>        
    </div>
    
    <div class="mainFooter">
        <div class="FooterWrap">
            <div class="FooterTitle">
                <strong>세종특별자치시 새롬중앙로 33 3층</strong>
                <p>010-5835-8393</p>
            </div>
            <div class="FooterConn">
                <ul>
                    <li><i class="fa-brands fa-facebook"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-google"></i></li>
                </ul>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=759db9417782cc8b2e3fc993e67c2985"></script>
	<script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(36.48409523006782, 127.25166694076425), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 지도를 클릭한 위치에 표출할 마커입니다
        var marker = new kakao.maps.Marker({ 
            // 지도 중심좌표에 마커를 생성합니다 
            position: map.getCenter() 
        }); 
        // 지도에 마커를 표시합니다
        marker.setMap(map);

        // 지도에 클릭 이벤트를 등록합니다
        // 지도를 클릭하면 마지막 파라미터로 넘어온 함수를 호출합니다
        kakao.maps.event.addListener(map, 'click', function(mouseEvent) {        
            
            // 클릭한 위도, 경도 정보를 가져옵니다 
            var latlng = mouseEvent.latLng; 
            
            // 마커 위치를 클릭한 위치로 옮깁니다
            marker.setPosition(latlng);
            
            var message = '클릭한 위치의 위도는 ' + latlng.getLat() + ' 이고, ';
            message += '경도는 ' + latlng.getLng() + ' 입니다';
            
            var resultDiv = document.getElementById('clickLatlng'); 
            resultDiv.innerHTML = message;
            
        });
        
	</script>
</body>
</html>